.ui-datepicker-trigger{
    font-family: FontAwesome;
    font-size: 150%;
    padding-left: 0.5em;
    background: none;
    border: none;
    top:0;
    width: 8%;
    margin-left: 2%;
    padding: 0;
}

#due-date{
    width: 90%;
}

td, th{
    text-align: center;
}

textarea {
    resize: none;
}

.ui-widget-header {
    background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}

#auth-logo {
    width: 150%;               
}

#application-name {
    color: #5E5E5E;
    font-size: 100%;
    font-weight: bold;
}